<form>
  <h2> Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="owner" name="owner" />
  <br>
  <h2>Pet</h2>
  <label> Name </label>
  <input type="text" [(ngModel)]="name" name="name" />
  <label> Species </label>
  <input type="text" [(ngModel)]="species" name="species" />
  <label> Color </label>
  <input type="text" [(ngModel)]="color" name="color" />
  <label> Weight </label>
  <input type="text" [(ngModel)]="weight" name="weight" />
  <button (click)="newPet(owner, name, species, color, weight)"> SIGNUP </button>
</form>
<p class="error"> {{ error }} </p>