<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Signup</h1>
    <hr class="my-4">
    <div class="text-center">
      <hr class="my-4">
      <form (ngSubmit)="newPet(owner, name, species, color, weight)" ngNativeValidate>
        <label> Username </label>
        <input type="text" [(ngModel)]="owner" name="owner" required />
        <br>
        <h2>Pet</h2>
        <label> Name </label>
        <input type="text" [(ngModel)]="name" name="name" required />
        <label> Species </label>
        <input type="text" [(ngModel)]="species" name="species" required />
        <label> Color </label>
        <input type="text" [(ngModel)]="color" name="color" required />
        <label> Weight </label>
        <input type="text" [(ngModel)]="weight" name="weight" required />
        <button type="submit"> Add pet </button>
      </form>
      <p class="error"> {{ error }} </p>
    </div>
  </div>
</div>