<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Appointments</h1>
        <hr class="my-4">
        <div class="text-center">
            <input (click)="getAllAppointments('true')" type="radio" name="search" value="open" /> Open
            <input (click)="getAllAppointments('false')" type="radio" name="search" value="closed" /> Closed
            <br>
            <label for="search">Search</label>
            <input type="text" [(ngModel)]="search">
        </div>
        <hr class="my-4">
        <div *ngFor="let appointment of appointments | filter: 'title':search">
            <a [routerLink]="['/appointmentdetails', appointment._id]">{{appointment.title}} </a> {{appointment.start | date: 'dd/MM hh:mm'}}
        </div>
    </div>
</div>