<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<script type='text/javascript' src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js'></script>
<script type='text/javascript' src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/jquery.min.js'></script>
<script type='text/javascript' src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js'></script>
<script type='text/javascript' src='https://fullcalendar.io/releases/fullcalendar/3.9.0/gcal.min.js'></script>

<div *ngIf="calendarOptions.events[0]" class="container calendarWrapper">
    <angular2-fullcalendar [options]="calendarOptions" (initialized)="onCalendarInit($event)" id="calendar"></angular2-fullcalendar>
</div>