<div class="container wrapper">
  <div class="jumbotron">
    <h3>My appointments</h3>
    <hr class="my-4">
    <div class="text-center cardWrapper" *ngIf="appointments">
      <div class="card" style="width: 18rem;" *ngFor="let appointment of appointments.appointment">
        <div class="card-body">
          <p>Time: {{appointment.start | date: 'hh:mm'}}</p>
          <p>Date: {{appointment.date | date: 'dd/MM'}}</p>
          <p>Comments: {{appointment.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>