<form>
    <h2> Signup </h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="username" name="username"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="password" name="password"/>
    <label> Name </label>
    <input type="text" [(ngModel)]="name" name="name"/>
    <label> Surname </label>
    <input type="text" [(ngModel)]="surname" name="surname"/>
    <label> Email </label>
    <input type="email" [(ngModel)]="email" name="email"/>
    <button (click)="signup(username, password, name, surname, email)"> SIGNUP </button>
  </form>
  <p class="error"> {{ error }} </p>
