<div class="formWrapper">
  <h3>Sign up</h3>
  <hr class="my-4">
  <div class="text-center">
    <form (ngSubmit)="signup(username, password, name, surname, email)" ngNativeValidate>
      <div class="form-group">
        <label> Username
          <i class="material-icons">person</i>
        </label>
        <input type="text" [(ngModel)]="username" name="username" required/>
      </div>
      <div class="form-group">
        <label> Password
          <i class="material-icons">lock</i>
        </label>
        <input type="password" [(ngModel)]="password" name="password" required minlength="4" />
      </div>
      <div class="form-group">
        <label> Name
          <i class="material-icons">person</i>
        </label>
        <input type="text" [(ngModel)]="name" name="name" required />
      </div>
      <div class="form-group">
        <label> Surname
          <i class="material-icons">person</i>
        </label>
        <input type="text" [(ngModel)]="surname" name="surname" required />
      </div>
      <div class="form-group">
        <label> Email
          <i class="material-icons">alternate_email</i>
        </label>
        <input type="email" [(ngModel)]="email" name="email" required />
      </div>
      <button class="btn btn-home" (click)="signup(username, password, name, surname, email)" data-dismiss='modal'>Sign up</button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>
</div>