<div class="container">
    <section>
        <div class="firstSection col-lg-12">
            <div class="firstSectionContent">
                <h1>Great Reasons To Visit Your Vet</h1>
                <p>Together, let's keep your pet happy and healthy this summer.</p>
                <a href="#" class="btn btn-firstSection">Read more</a>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="section2Heading">
                <h2>Latest News</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="../../assets/pet.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">SUMMER</h5>
                            <p class="card-text">To keep your pet happy and healthy all summer long, follow these simple top tips from the vets
                                and nurses at Vets4Pets.
                            </p>
                            <a href="#" class="btn btn-home">Summer top tips</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="../../assets/puppy.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">VIP JUST FOR PUPPY CLUB</h5>
                            <p class="card-text">Join our VIP Just for Puppy Club and get 10% off in Pets at Home and 50% off your puppy's first
                                groom
                            </p>
                            <a href="#" class="btn btn-home">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="../../assets/vet.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">WORKING WITH US</h5>
                            <p class="card-text">Find out more about our vacancies and partnership opportunities.</p>
                            <a href="#" class="btn btn-home">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="pictureSection2">

        </div>
    </section>
</div>