<section>
    <div class="pictureSection">
    </div>
</section>



<section>
    <div class="bulletsSectionWrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 textCenter">
                    <span class="span-icon">
                        <i class="fas fa-map-marker-alt circulo"></i>
                    </span>
                    <h2>Hola</h2>
                    <p>ngfcdfgtyhujkmnbvcfghjk,</p>
                </div>
                <div class="col-sm-4 textCenter">
                    <span class="span-icon">
                        <i class="far fa-comments circulo"></i>
                    </span>
                    <h2>Hola</h2>
                    <p>jhugyftfcgvhbjkmlkojihugyftcgvhbjnkml</p>
                </div>
                <div class="col-sm-4 textCenter">
                    <span class="span-icon">
                        <i class="fas fa-heart circulo"></i>
                    </span>
                    <h2>Hola</h2>
                    <p>kiuygtfdcvbnm,lñoiuytf</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="pictureSection2">

    </div>
</section>