:host /deep/ .container{
    max-width: 1400px !important;
}

.navbar{
    background-color: #282250 !important;
}

a{
    color: white !important;
    cursor: pointer;
}

span{
    color: white !important;
}

.modal-content{
    background-color: rgba(255,255,255,1)
}

.header{
    position: relative;
    top: 10px;
    right: -93%;
    width: 48px;
    height: 40px;
}