<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="sessionService.user">Welcome {{ sessionService.user.username }}!</h1>
</div>

<div *ngIf="sessionService.user">
  <ul>
    <li *ngIf="sessionService.user.role == 'customer' ">
      <a [routerLink]="['/appointment']">Book an appointment</a>
      <br>
      <a [routerLink]="['/mypets']">My pets</a>
      <br>
      <a [routerLink]="['/settings']">Settings</a>
    </li>
    <li *ngIf="sessionService.user.role == 'admin' ">
      <a [routerLink]="['/reception']">Clinic Dashboard</a>
      <a [routerLink]="['/admin']">Personal Dashboard</a>
      <a [routerLink]="['/stock']">Stock Dashboard</a>
      <a [routerLink]="['/newstaff']">New staff</a>
    </li>
    <li *ngIf="sessionService.user.role == 'vet' ">
      <a [routerLink]="['/vet']">Dashboard</a>
    </li>
    <li *ngIf="sessionService.user.role == 'receptionist' ">
      <a [routerLink]="['/reception']">Dashboard</a>
      <br>
      <a [routerLink]="['/newpet']">New pet</a>
    </li>
    <li>
      <a href="#" (click)="logout()">Log out</a>
    </li>
  </ul>
</div>

<div *ngIf="!sessionService.user">
  <ul>
    <li>
      <a [routerLink]="['/signup']">Sign up</a>
    </li>
    <li>
      <a [routerLink]="['/login']">Log in</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>