<div *ngIf="item">
  <div *ngIf="item.username">
    <!-- Check if it's a customer, then show properties -->
    {{item.name}}
    <br> {{item.surname}}
    <br> {{item.username}}
    <img [src]="item.profilePic" alt="">
  </div>

  <div *ngIf="item.species">
    <!-- Check if it's a pet, then show properties -->
    {{item.name}}
    <br> {{item.species}}
    <br> {{item.color}}
  </div>
</div>


<div *ngIf="sessionService.user">

  <div *ngIf="sessionService.user.role == 'admin'">
    <div *ngIf="item">
      <div *ngIf="item.email">
        <form>
          <h2>User details</h2>
          <label> Username </label>
          <input type="text" [(ngModel)]="item.username" name="username" />
          <br>
          <label> Name </label>
          <input type="text" [(ngModel)]="item.name" name="name" />
          <label> Surname </label>
          <input type="text" [(ngModel)]="item.surname" name="surname" />
          <label> Email </label>
          <input type="email" [(ngModel)]="item.email" name="email" />
          <button (click)="updateCustomer(item.username, item.name, item.surname, item.email)"> Change details </button>
        </form>
        <p class="error"> {{ error }} </p>
      </div>

      <div *ngIf="item.species">
        <form>
          <h2>Pet details</h2>
          <label> Name </label>
          <input type="text" [(ngModel)]="item.name" name="petName" />
          <label> Species </label>
          <input type="text" [(ngModel)]="item.species" name="species" />
          <label> Color </label>
          <input type="text" [(ngModel)]="item.color" name="color" />
          <label> Weight </label>
          <input type="text" [(ngModel)]="item.weight" name="weight" />
          <button (click)="updatePet(item.name, item.species, item.color, item.weight)"> Change details </button>
        </form>
        <p class="error"> {{ error }} </p>
      </div>

    </div>

  </div>

</div>