<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Log in</h1>
    <p class="lead">Choose a day</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="text-center">
      <form (ngSubmit)="login(username,password)" ngNativeValidate>
        <label> Username </label>
        <input type="text" [(ngModel)]="username" name="username" required/>
        <br>
        <label> Password </label>
        <input type="password" [(ngModel)]="password" name="password" required />
        <button> Login </button>
      </form>
      <p class="error"> {{ message }} </p>
    </div>
  </div>
</div>