<div class="formWrapper">
  <h3>Log in</h3>
  <hr class="my-4">
  <div class="text-center">
    <form ngNativeValidate>
      <div class="form-group">
        <label>Username
          <i class="material-icons">perm_identity</i>
        </label>
        <input type="text" [(ngModel)]="username" name="username" [placeholder]="placeholderUser" required/>
      </div>
      <div class="form-group">
        <label> Password
          <i class="material-icons">lock</i>
        </label>
        <input type="password" [(ngModel)]="password" name="password" [placeholder]="placeholderPass" required />
      </div>
      <button class="btn btn-home" (click)="login(username,password)" data-dismiss='modal'>Login</button>
    </form>
    <p class="error"> {{ message }} </p>
  </div>
</div>