<div class="example-wrapper" (click)="getAppointments(picker)">
    <owl-date-time-inline [(ngModel)]="picker" [min]="min" [max]="max" [owlDateTimeFilter]="myFilter" [firstDayOfWeek]="1" pickerType="calendar"
        ></owl-date-time-inline>
</div>

<br>
<br>
<br>
<div *ngIf="appointments">
    <h3>Available appointments on the {{picker | date: 'dd of MMM'}}</h3>

    <div>
        <button *ngFor="let item of buttons" [disabled]="item.background == 'red'" [ngStyle]="{'cursor': item.cursor, 'background': item.background}"
            class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top"
            (confirm)="pickAppointment(picker, item.start, item.value)" (cancel)="cancelClicked = true">{{item.start}}</button>
    </div>
</div>