<div class="container wrapper">
    <div class="jumbotron">
        <h3>Book an appointment</h3>
        <hr class="my-4">
        <p>Choose date and time</p>
        <div class="text-center">
            <owl-date-time-inline [(ngModel)]="picker" [min]="min" [max]="max" [owlDateTimeFilter]="myFilter" [firstDayOfWeek]="1" pickerType="calendar"
                (click)="getAppointments(picker)"></owl-date-time-inline>
        </div>

        <div *ngIf="appointments" class="text-center appointments">
            <p>Appointments for {{picker | date: 'dd of MMMM'}}</p>
            <div>
                <button *ngFor="let item of buttons" [disabled]="item.background == '#C82333'" [ngStyle]="{'cursor': item.cursor, 'background': item.background}"
                    class="btn btn-home" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                    placement="top" (confirm)="pickAppointment(picker, item.start, item.value)" (cancel)="cancelClicked = true">{{item.start}}</button>
            </div>
        </div>

    </div>
</div>