<div class="container">
  <div class="jumbotron">
    <h3>Staff</h3>
    <hr class="my-4">
    <div class="text-center">
      <label for="search">Search</label>
      <input type="text" [(ngModel)]="search">
    </div>
    <div class="tableWrapper">
      <table class="table table-striped" *ngIf="staff">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
          </tr>
        </thead>
        <tbody *ngFor="let person of staff | filter:'name':search">
          <tr>
            <td>
              <a [routerLink]="['/details', person._id]">{{person.name}}</a>
            </td>
            <td>{{person.surname}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>