<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">New staff</h1>
    <p class="lead">Choose a day</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="text-center">
      <form>
        <label> Username </label>
        <input type="text" [(ngModel)]="username" name="username" />
        <br>
        <label> Password </label>
        <input type="password" [(ngModel)]="password" name="password" />
        <label> Name </label>
        <input type="text" [(ngModel)]="name" name="name" />
        <label> Surname </label>
        <input type="text" [(ngModel)]="surname" name="surname" />
        <label> Email </label>
        <input type="email" [(ngModel)]="email" name="email" />
        <button (click)="newStaff(username, password, name, surname, email)"> Create staff </button>
      </form>
      <p class="error"> {{ error }} </p>
    </div>
  </div>
</div>