<div class="container wrapper">
  <div class="jumbotron">
    <h3>My pets</h3>
    <hr class="my-4">
    <div class="text-center cardWrapper" *ngIf="pets">
      <div class="card" style="width: 18rem;" *ngFor="let pet of pets.pets">
        <img class="card-img-top" src="{{pet.profilePic}}" alt="Card image cap">
        <div class="card-body">
          <h4>{{pet.name}}</h4>
          <p>Color: {{pet.color}}</p>
          <p>Last weight: {{pet.weight}}kg</p>
        </div>
      </div>
    </div>
  </div>
</div>